.product-card {
  border: solid 1px #ccc;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  width: fit-content;
  border-radius: 8px;
  background-color: white;
  text-align: center;
  padding: 20px 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease box-shadow 0.3 ease;
}
.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}
.product-image {
  width: 60%;
  border-radius: 8px;
}

.product-name {
  margin: 10px 0 5px;
  font-size: 18px;
}

.product-price {
  color: #ee727d;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 12px;
}

.add-btn {
  cursor: pointer;
  padding: 8px 10px;
  color: white;
  background-color: #457b9d;
  border: none;
  border-radius: 6px;
}
